body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

.openBtn {
    background: cadetblue;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    font-size: 160%;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: none ;

}

.overlay-content {
    position: relative;
    top: 10.5%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;

}

.overlay .closebtn {
    position: absolute;
    top: 2%;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: black;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

/*loading*/
#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 15px solid #000000;
    border-top: 15px solid #e02205;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 